.main{
  background-color: rgb(247, 243, 243);
  width: 100%;
  height: 100vh;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
 
}

.headerdiv{
border-bottom: 1px solid black;
width: 100%;
height: 12vh;
background-color: aliceblue;
}
.headerh1{
  width: 70%;
  text-align: center;
  font-size: 3rem;
  margin: 2rem auto;
}
.overviewdiv {
  position: relative;
  padding: 2rem;
  width: 100%;
  height: 20vh;
  border-bottom: 1px solid black;
  
}
.overviewform{
  height: 100%;
}
.overviewobjective{
  display: block;
  width: 50%;
  height: 50%;
  margin: 2rem auto;
  resize: none;
}
.divtitle{
  position: relative;
  top: -.5rem;
  left: .8rem;
  font-size: 2rem;
  margin: 1rem 0rem;
}
.educationdiv{
  position: relative;
  border-bottom: 1px solid black;
  width: 100%;
  min-height: 10vh;
}
.workhistorydiv{
  position: relative;
  border-bottom: 1px solid black;
  width: 100%;
  min-height: 10vh;
}
.certificationdiv{
  position: relative;
  border-bottom: 1px solid black;
  width: 100%;
  min-height: 10vh;
}
.addbtn{
  position: absolute;
  top: 0;
  right: 1rem;
}
.personaldiv{
  position: relative;
  width: 100%;
  height: fit-content;
  border-right: 1px solid black;
}
.personalform{
  margin: 2.5rem auto;
  height: 75%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: flex-start;
}
.personalforminput{
  clear: right;
  display: block;
  font-size: 2rem;
  text-align: center;
}
.personallabel{
  font-size: 1.8rem;
}
.personalskill{
  display: grid;
  grid-template-rows: min-content;
  grid-template-columns: 60% 30%;
  width: 100%;
  position: relative;
  align-items: flex-start;
  justify-content: center;
  grid-gap: 2rem;
}
.skills{
  height: 100%;
}
#skillsid{
  margin: 1rem;
}
.skillsform{
  height: 75%;
  text-align: center;

}
.listholder {
  resize: none;
  height: 60%;
  width: 70%;
  margin: 1rem auto;
}
#generatebtn{
  width: 40%;
  margin: 1rem auto;
}
.mainform{
  width: 100%;
  height: 90vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.ed{
  width: 100%;
  position: relative;
}